$clr-primary-red:#ea5353;
$clr-primary-cyan:#45d3d3;
$clr-primary-orange:#fcaf4a;
$clr-primary-blue:#549ef2;

$clr-neutral-db:#4c4e61;
$clr-neutral-gb:#a3a5ae;
$clr-neutral-lg:#fafafa;
$clr-white:#ffff;

$ff:'Poppins', cursive;

$fw-200:200;
$fw-400:400;
$fw-600:600;

